# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Logs
*.log

# Build output
dist/
build/

# Environment variables
.env

# Operating System files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/

backend/flipkart-433216-866954c9cd79.json
backend/.env
frontend/.env