# Node modules
node_modules/

# Logs
*.log

# Build output
dist/
build/

# Environment variables
.env

# Operating System files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/

backend/flipkart-433216-8ef7a14e07e9.json
backend/.env
frontend/.env